#sdp {
    position: absolute;
    margin-left: calc(100% - 180px);
    margin-top: calc(100vh - 630px);
    padding: 15px;
    z-index: 100;
}
#sdp img {
    width: 150px;
    cursor: pointer;
    display: block;
    border-radius: 10px;
}
#sdp > div {
    background-color: #0033A0;
    color: white;
    text-align: center;
    width: 300px;
    margin-left:-150px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 15px;
    position: relative;
    visibility: hidden;
}

#sdp a {
    text-decoration: none;
    color: orange;
}