# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore node_modules
node_modules/

#Ignore Intellij
.idea

#Ignore directory
server/bin/

#Ignore build dir
server/build/

#Ignore package lock
client/package-lock.json

#Ignore properties values
server/src/test/resources/application.properties
