# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore node_modules
node_modules/

#Ignore Intellij
.idea

#Ignore directory
server/bin/

#Ignore build dir
server/build/

#ignore vscode
.vscode/

#Ignore properties values
server/src/test/resources/application.properties

#Ignore local gradle junit test results
testing.xml

#Ignore properties from main
server/src/main/resources/application.properties

#Ignore intelliJ project files
server/src/main/main.iml
server/src/test/test.iml
