# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore node_modules
node_modules/

#Ignore Intellij
.idea

#Ignore directory
server/bin/

#Ignore properties values
application.properties
